elasticsearch:
  image: elasticsearch:6.7.0
  command: elasticsearch -Enetwork.host=0.0.0.0 -Ehttp.cors.enabled=true -Ehttp.cors.allow-origin=/.*/
  ports:
    - "9200:9200"
    - "9300:9300"

logstash:
  build: logstash/
  command: logstash -f /etc/logstash/conf.d/logstash.conf --config.reload.automatic
  volumes:
    - ./logstash/config:/etc/logstash/conf.d
  ports:
    - "5000:5000"
    - "5140:5140/udp"
    - "5141:5141/udp"
    - "5142:5142/udp"
  links:
    - elasticsearch

kibana:
  build: kibana/
  volumes:
    - ./kibana/config/:/opt/kibana/config/
  ports:
    - "5601:5601"
  links:
    - elasticsearch

cerebro:
  image: yannart/cerebro:0.8.1
  ports:
    - "9000:9000"
  links:
    - elasticsearch
